.candidates {
	path.arrow {
		fill:none;
		stroke:#333;
	}
	path.main {
		stroke-width:2;
		stroke:#bdbdbd;
		fill:none;
		//stroke-dasharray:1,4;
		stroke-linecap:round;
	}
	line.against {
		stroke-width:2;
		fill:none;
		shape-rendering:crispEdges;
		stroke-linejoin:round;
	}
	path.against {
		stroke-width:2;
		fill:none;
	}
	g.answer {
		circle {
			stroke:#fff;
			stroke-width:2;
			&.big {
				display: none;
			}
		}
		&.selected {
			circle.big {
				display: block;
			}
		}
		path.arrow {
			
			
			stroke-width:5;
			

			&.jump {
				stroke:none;
				//fill:#bdbdbd;
				fill-opacity:0.9;
				fill:url(#jump);
			}
		}
		path.shadow {
			stroke-width:2;
			stroke:none;
			fill:#bdbdbd;
			fill-opacity:0.3;
		}
	}
	g.quest {
		circle {
			fill:#bdbdbd;
		}
		> path {
			stroke:#bdbdbd;
		}
		path.left {
			stroke:url(#left);
		}
		path.right {
			stroke:url(#right);
		}
	}
	g.dem {
		> path {
			//stroke:$dem;
			stroke:url(#right);
		}
		circle {
			fill:$dem;
		}
		&.side2 {
			circle {
				fill:$dem-evasive;
			}
		} 
		rect {
			fill:$dem;
		}
		line.against {
			stroke:$dem;
		}
	}

	g.gop {
		> path {
			//stroke:$gop;
			stroke:url(#left);
		}
		rect {
			fill:$gop;
		}
		circle {
			fill:$gop;
		}
		&.side2 {
			circle {
				fill:$gop-evasive;
			}
		} 
		line.against {
			stroke:$gop;
		}
	}
	g.arm {
		
	}
}