@import '../../bower_components/pasteup-palette/src/_palette.scss';

@function colour($name) {
    @return map-get($pasteup-palette, $name);
}

$dem:#3fa9f5;
$dem-evasive:#7ac943;
$gop:#fc3b1e;
$gop-evasive:#af0c53;