.question {
	width:100%;
	margin:10px auto;
	h2.question-title {
		@include fs-header(3);
		margin:0 10px;
		color:#767676;
		@include mq(tablet) {
			@include fs-headline(4);
			color:#000;
		}
	}
	p.question-summary {
		@include fs-bodyCopy(1);
		margin:0 10px;
		@include mq(tablet) {
			@include fs-bodyCopy(2);
			//margin:0 20px;
			//font-size:24px;
			//line-height: 28px;
			//text-align: center;
		}
	}
	

    @include mq(desktop) {
    	h2.question-title,
    	p.question-summary {
        	margin-left: 15rem;
        	max-width: 620px;
    	}
    }
	
	div.dialogue {
		position: relative;
		width:100%;
		svg {
			width:100%;
			@include mq(tablet) {
				width:50%;
				margin-left:25%;
			}
			@include mq(desktop) {
			}
			.marker-arrow {
				fill:#cdcdcc;
			}
			.marker-arrow.gop {
				fill:$gop;
			}
			.marker-arrow.dem {
				fill:$dem;
			}
			g.axis {
				line {
					stroke:#ccc;
					stroke-width:1;
					stroke-opacity:1;
					stroke-dasharray:1,5;
					shape-rendering: crispEdges;
				}
			}
			.stop1 {
				stop-color:red;
			}
			.stop2 {
				stop-color:green;
			}
		}
		div.key-concepts {
			position:absolute;
			z-index: 9999;
			top:0;
			left:0;
			width:100%;
			@include fs-bodyCopy(2);
			
			
			div.key-concept {
				width:calc(100% - 20px);
				position:absolute;
				
				padding-left:10px;
				padding-right:10px;

				$title-pad: 0.25em;
				$title-lineheight: $title-pad + 1;
				$bg: rgba(0,0,0,0.7);
				$bg_yellow: rgba(255, 255, 177,0.8);

				p {
					visibility: hidden;
					//padding:5px;
					//border-radius:10px;
					//background-color:rgba(0,0,0,0.1);
					max-height:6.5em;
					overflow: visible;
					display: table;
					margin:0 auto;
					
					

					span.highlight {
						display: inline;
						color:white;
					    background: $bg;
					    padding: 6px;
					    line-height: 28px;
					}
					span.highlight--wrapping {
						position: relative;
						left: $title-pad;
						padding-left: 0;
						box-shadow: $title-pad 0 0 $bg,  
									$title-pad*-1 0 0 $bg;
					}


				}
				&.evasive {
					p {
						span.highlight::before {
							content:"off topic";
							white-space: nowrap;
							@include fs-textSans(1);
							font-size:14px;
							font-weight: bold;
							text-transform: uppercase;
							padding:2px 5px;
							display: block;
							position:absolute;
							transform:rotate(-19deg)translate(-2px,-3px);
							@include mq(tablet) {
								transform:rotate(-19deg)translate(-2px,-8px);
							}
						}	
					}
				}
				&.gop {
					span.highlight {
						color:white;
						background:$gop;
					}
					span.highlight--wrapping {
						box-shadow: $title-pad 0 0 $gop,  
									$title-pad*-1 0 0 $gop;
					}
					&.evasive {
						span.highlight {
							background:$gop-evasive;
						}
						span.highlight--wrapping {
							box-shadow: $title-pad 0 0 $gop-evasive,  
										$title-pad*-1 0 0 $gop-evasive;
						}
						span.highlight::before {
							color:$gop-evasive;
							top:-20px;
							left:-4px;
						}
					}
				}
				&.dem {
					span.highlight {
						color:white;
						background:$dem;
					}
					span.highlight--wrapping {
						box-shadow: $title-pad 0 0 $dem,  
									$title-pad*-1 0 0 $dem;
					}
					&.evasive {
						span.highlight {
							background:$dem-evasive;
						}
						span.highlight--wrapping {
							box-shadow: $title-pad 0 0 $dem-evasive,  
										$title-pad*-1 0 0 $dem-evasive;
						}
						span.highlight::before {
							color:$dem-evasive;
							top:-20px;
							left:-4px;
						}
					}
				}
				&.quest {
					span.highlight {
						color:black;
						background:$bg_yellow;
					}
					span.highlight--wrapping {
						box-shadow: $title-pad 0 0 $bg_yellow,  
									$title-pad*-1 0 0 $bg_yellow;
					}
				}
				&.centered {
					p {
						text-align: center;
					}
				}
				&.selected {
					p {
						visibility: visible;	
					}
				}
			}
			div.face-container {
				width:100%;
				@include mq(tablet) {
					width:50%;
					margin-left:25%;
				}
				position:absolute;
				
				div.face {
					position:absolute;
					&.hidden {
						visibility: hidden;
					}
					width:20px;
					height:20px;
					border-radius:20px;
					background-color:#bdbdbd;
					//margin-left:-12px;
					margin-left:8px;
					margin-top:-12px;
					border:2px solid #fff;
					background-color:#bdbdbd;
					background-repeat: no-repeat;
				    background-position: center center;
				    background-size: 90% 90%;
				    &.gop,&.dem{
				    	/* width:34px;
						height:34px;
						border-radius:40px;
						margin-left:0;
						margin-top:-19px; */
						width:50px;
						height:50px;
						border-radius:50px;
						background-color:white;
						margin-top:-24px;
				    }
					&.gop {
						background-image:url(./assets/imgs/trump.svg);
						//background-color: $gop;
						border-color: $gop;
						
						&.evasive {
							background-image:url(./assets/imgs/trump_ot.svg);
							border-color: $gop-evasive;
						}
					}
					&.dem {
						background-image:url(./assets/imgs/clinton.svg);
						//background-color: $dem;
						border-color: $dem;
						margin-left:-15px;
						&.evasive {
							background-image:url(./assets/imgs/clinton_ot.svg);
							border-color: $dem-evasive;
							margin-left:-15px;
						}
					}

				}
			}
		}
		@include mq(tablet) {
			div.key-concepts {
				div.key-concept {
					width:23%;					
					margin-top:-2.25em;
					
					
					&.dem {
						margin-left:65%;
						&.evasive {
							margin-left:75%;
						}
						p {
							padding-left:5px;
						}
						&::before {
							background-color: $dem;
							left:10px;
						}
					}
					&.gop {
						p {
							padding-right:5px;
							float:right;
						}
						&::before {
							background-color: $gop;
							right:10px;
						}
						left:10%;
						&.evasive {
							left:0
						}
					}
					&.quest {
						width:35%;
						&.right {
							margin-left:50%;
							padding-left:20px;
						}
						&.left {
							margin-left:14%;
							padding-right:20px;
							text-align:right;
						}
						&::before {
							background-color: #bdbdbd;
						}
					}
					p {
						margin: 0 !important;
					}
				}
				
			}
		}	
	}
	
}