@import "fonts";
@import "palette";
@import "mq";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}

@import "candidate";
@import "question";
@import "debate";